@media only screen and (min-width:1200px){
    .card-img-top{
        height: 60%;
    }
}
@media only screen and (max-width:1200px){
    .card-img-top{
        height: 55% !important;
    }
}
@media only screen and (max-width:992px){
    #uni-building{
        width:80%;
    }
    .card-img-top{
        height: 45% !important;
    }
    .card{
        height: 40% !important;
    }
}
@media only screen and (max-width:768px){
    #uni-building{
        width:65%;
    }
    #logo{
        margin-right:1rem !important;
    }
    .card h5{
        font-size: 1rem;
    }
}
@media only screen and (max-width:559px){
    #logo{
        width:20% !important;
    }
}
@media only screen and (max-width:576px){
    .col-sm{
        width:20% !important;
        font-size: 3vw !important;
    }
    .recent-news{
        font-size: 4vw !important;
        padding: 0;
    }
    .card-group{
        align-items: center;
        flex-direction: row !important;
    }
}
@media only screen and (max-width:534px){
    .card h5{
        font-size: 2.7vw !important;
    }
}    
@media only screen and (max-width:474px){
    #uni-building{
        width:50%;
        height:30%;
    }
}
.a{
    color: white !important;
}
.clearfix {zoom: 1;}
.clearfix:after {
    content:'.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden; 
}
.shadow-container{
    width: 33.333%;
}
.b{
    color: black;
    border-right:1px solid rgb(165, 165, 165);
}

.imgs{
    width:100% ;
}
.container-fluid{
    padding: 0;
    margin: 0;
}
.top-navbar{
    height:50px;
}
.container{
    margin-left: 10%;
    margin-right: 10%;
    
}
.col-sm{
    height: 60%;
    border: solid rgb(199, 199, 199);
    margin-top: 2%;
    margin-bottom: 2%;
}
.news{
    height: 30%;
    margin-left: 2%;
    margin-right: 2%;
}
.card{
    box-shadow: 12px 0 15px -4px rgb(187, 187, 187), -12px 0 8px -4px rgb(187, 187, 187);
    height:10rem;
}
.card1{
    border-top: 5px solid rgb(255, 123, 0);
}
.card2{
    border-top: 5px solid red;
}
.card3{
    border-top: 5px solid blue;
}
.card-title{
    text-align: center;
}
.card-img-top{
    height: 60%;
    width: 100%;
}
.footer-nav{
    float: left;
}
.social-links {
    list-style: none;
    float: right;
    margin-right: 5%;
}
.footer{
    float: left;
    text-align: center;
}
.fab{
    background-color:  #3B5998;
    color: white;
    width:20px;
    height: 20px;
    text-align: center;
}